USE [master]
GO
/****** Object:  Database [ShoesStore2]    Script Date: 25/03/2024 4:50:45 CH ******/
CREATE DATABASE [ShoesStore2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ShoesStore2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ShoesStore2.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ShoesStore2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ShoesStore2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ShoesStore2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ShoesStore2]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 25/03/2024 4:50:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Banner]    Script Date: 25/03/2024 4:50:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banner](
	[MABANNER] [int] IDENTITY(1,1) NOT NULL,
	[TENBANNER] [nvarchar](255) NOT NULL,
	[VITRI] [nvarchar](max) NOT NULL,
	[LINK] [nvarchar](max) NOT NULL,
	[HOATDONG] [bit] NOT NULL,
 CONSTRAINT [PK_Banner] PRIMARY KEY CLUSTERED 
(
	[MABANNER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BINHLUAN]    Script Date: 25/03/2024 4:50:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BINHLUAN](
	[MABL] [int] IDENTITY(1,1) NOT NULL,
	[NOIDUNGBL] [nvarchar](max) NOT NULL,
	[NGAYBL] [datetime] NOT NULL,
	[MADONGSANPHAM] [int] NOT NULL,
	[MAKH] [int] NOT NULL,
 CONSTRAINT [PK_BINHLUAN] PRIMARY KEY CLUSTERED 
(
	[MABL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BLOG]    Script Date: 25/03/2024 4:50:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BLOG](
	[MABLOG] [int] IDENTITY(1,1) NOT NULL,
	[MANV] [int] NOT NULL,
	[NOIDUNG] [nvarchar](max) NULL,
	[THELOAI] [nvarchar](255) NULL,
 CONSTRAINT [PK_BLOG] PRIMARY KEY CLUSTERED 
(
	[MABLOG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETKHUYENMAI]    Script Date: 25/03/2024 4:50:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETKHUYENMAI](
	[MAKM] [int] NOT NULL,
	[MADONGSANPHAM] [int] NOT NULL,
 CONSTRAINT [PK_CHITIETKHUYENMAI] PRIMARY KEY CLUSTERED 
(
	[MAKM] ASC,
	[MADONGSANPHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETPHIEUMUA]    Script Date: 25/03/2024 4:50:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUMUA](
	[MAPM] [int] NOT NULL,
	[MASPSIZE] [int] NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[DONGIA] [money] NOT NULL,
 CONSTRAINT [PK_CHITIETPHIEUMUA] PRIMARY KEY CLUSTERED 
(
	[MAPM] ASC,
	[MASPSIZE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONGSANPHAM]    Script Date: 25/03/2024 4:50:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONGSANPHAM](
	[MADONGSANPHAM] [int] IDENTITY(1,1) NOT NULL,
	[MALOAI] [int] NOT NULL,
	[TENDONGSP] [nvarchar](255) NOT NULL,
	[GIAGOC] [decimal](18, 2) NOT NULL,
	[MOTA] [nvarchar](max) NOT NULL,
	[TRANGTHAI] [nvarchar](255) NULL,
 CONSTRAINT [PK__SANPHAM__B87C02A5C6299161] PRIMARY KEY CLUSTERED 
(
	[MADONGSANPHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 25/03/2024 4:50:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [int] IDENTITY(1,1) NOT NULL,
	[TENKH] [nvarchar](255) NOT NULL,
	[EMAIL] [nvarchar](255) NOT NULL,
	[DIACHI] [nvarchar](255) NULL,
	[SDT] [nvarchar](255) NOT NULL,
	[GIOITINH] [bit] NULL,
	[NGAYSINH] [datetime] NULL,
 CONSTRAINT [PK__KHACHHAN__B87DC1A73C57F8C5] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHUYENMAI]    Script Date: 25/03/2024 4:50:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUYENMAI](
	[MAKM] [int] IDENTITY(1,1) NOT NULL,
	[NGAYBD] [datetime] NOT NULL,
	[NGAYKT] [datetime] NOT NULL,
	[PHANTRAMGIAM] [int] NOT NULL,
 CONSTRAINT [PK_KHUYENMAI] PRIMARY KEY CLUSTERED 
(
	[MAKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAI]    Script Date: 25/03/2024 4:50:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI](
	[MALOAI] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAI] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK__LOAI__0CDEF5199DDB5F30] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAU]    Script Date: 25/03/2024 4:50:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAU](
	[MAMAU] [nvarchar](255) NOT NULL,
	[TENMAU] [nvarchar](255) NULL,
 CONSTRAINT [PK__MAU__94185D28760C1F74] PRIMARY KEY CLUSTERED 
(
	[MAMAU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 25/03/2024 4:50:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [int] IDENTITY(1,1) NOT NULL,
	[TENNV] [nvarchar](255) NOT NULL,
	[EMAIL] [nvarchar](255) NOT NULL,
	[DIACHI] [nvarchar](255) NULL,
	[SDT] [nvarchar](255) NOT NULL,
	[GIOITINH] [bit] NOT NULL,
	[NGAYSINH] [datetime] NULL,
 CONSTRAINT [PK__NHANVIEN__B87DC9B274B84C76] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUMUA]    Script Date: 25/03/2024 4:50:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUMUA](
	[MAPM] [int] IDENTITY(1,1) NOT NULL,
	[NGAYDAT] [datetime] NOT NULL,
	[MAKH] [int] NULL,
	[MANV] [int] NULL,
	[TINHTRANG] [nvarchar](255) NOT NULL,
	[MAPTTT] [int] NOT NULL,
	[GHICHU] [nvarchar](max) NULL,
	[LYDOHUYDON] [nvarchar](255) NULL,
	[TONGTIEN] [money] NULL,
 CONSTRAINT [PK__PHIEUDAT__B87C5B0D30DC315E] PRIMARY KEY CLUSTERED 
(
	[MAPM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHUONGTHUCTHANHTOAN]    Script Date: 25/03/2024 4:50:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHUONGTHUCTHANHTOAN](
	[MAPTTT] [int] IDENTITY(1,1) NOT NULL,
	[TENPHUONGTHUC] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_PHUONGTHUCTHANHTOAN] PRIMARY KEY CLUSTERED 
(
	[MAPTTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 25/03/2024 4:50:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [int] IDENTITY(1,1) NOT NULL,
	[MADONGSANPHAM] [int] NOT NULL,
	[MAMAU] [nvarchar](255) NOT NULL,
	[ANHDAIDIEN] [nvarchar](max) NOT NULL,
	[ANHMATTREN] [nvarchar](max) NOT NULL,
	[ANHDEGIAY] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAMSIZE]    Script Date: 25/03/2024 4:50:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAMSIZE](
	[MASPSIZE] [int] IDENTITY(1,1) NOT NULL,
	[MASP] [int] NOT NULL,
	[MASIZE] [int] NOT NULL,
	[SLTON] [int] NOT NULL,
 CONSTRAINT [PK_SANPHAMSIZE] PRIMARY KEY CLUSTERED 
(
	[MASPSIZE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SIZE]    Script Date: 25/03/2024 4:50:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIZE](
	[MASIZE] [int] IDENTITY(1,1) NOT NULL,
	[TENSIZE] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK__SIZE__8DA14C4EB0779537] PRIMARY KEY CLUSTERED 
(
	[MASIZE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 25/03/2024 4:50:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[EMAIL] [nvarchar](255) NOT NULL,
	[MATKHAU] [nvarchar](255) NOT NULL,
	[LOAITK] [int] NOT NULL,
 CONSTRAINT [PK__TAIKHOAN__161CF7258466B7F4] PRIMARY KEY CLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_BLOG_MANV]    Script Date: 25/03/2024 4:50:45 CH ******/
CREATE NONCLUSTERED INDEX [IX_BLOG_MANV] ON [dbo].[BLOG]
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CHITIETKHUYENMAI_MADONGSANPHAM]    Script Date: 25/03/2024 4:50:45 CH ******/
CREATE NONCLUSTERED INDEX [IX_CHITIETKHUYENMAI_MADONGSANPHAM] ON [dbo].[CHITIETKHUYENMAI]
(
	[MADONGSANPHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CHITIETKHUYENMAI_MAKM]    Script Date: 25/03/2024 4:50:45 CH ******/
CREATE NONCLUSTERED INDEX [IX_CHITIETKHUYENMAI_MAKM] ON [dbo].[CHITIETKHUYENMAI]
(
	[MAKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CHITIETPHIEUMUA_IDCHITIETSP]    Script Date: 25/03/2024 4:50:45 CH ******/
CREATE NONCLUSTERED INDEX [IX_CHITIETPHIEUMUA_IDCHITIETSP] ON [dbo].[CHITIETPHIEUMUA]
(
	[MASPSIZE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DONGSANPHAM_MALOAI]    Script Date: 25/03/2024 4:50:45 CH ******/
CREATE NONCLUSTERED INDEX [IX_DONGSANPHAM_MALOAI] ON [dbo].[DONGSANPHAM]
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_KHACHHANG_EMAIL]    Script Date: 25/03/2024 4:50:45 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_KHACHHANG_EMAIL] ON [dbo].[KHACHHANG]
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__LOAI__BF45B996B528FC06]    Script Date: 25/03/2024 4:50:45 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__LOAI__BF45B996B528FC06] ON [dbo].[LOAI]
(
	[TENLOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_NHANVIEN_EMAIL]    Script Date: 25/03/2024 4:50:45 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_NHANVIEN_EMAIL] ON [dbo].[NHANVIEN]
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PHIEUMUA_MAKH]    Script Date: 25/03/2024 4:50:45 CH ******/
CREATE NONCLUSTERED INDEX [IX_PHIEUMUA_MAKH] ON [dbo].[PHIEUMUA]
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PHIEUMUA_MANV]    Script Date: 25/03/2024 4:50:45 CH ******/
CREATE NONCLUSTERED INDEX [IX_PHIEUMUA_MANV] ON [dbo].[PHIEUMUA]
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PHIEUMUA_MAPTTT]    Script Date: 25/03/2024 4:50:45 CH ******/
CREATE NONCLUSTERED INDEX [IX_PHIEUMUA_MAPTTT] ON [dbo].[PHIEUMUA]
(
	[MAPTTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_unique_DongSp_Mau]    Script Date: 25/03/2024 4:50:45 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [idx_unique_DongSp_Mau] ON [dbo].[SANPHAM]
(
	[MADONGSANPHAM] ASC,
	[MAMAU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_unique_Sanpham_size]    Script Date: 25/03/2024 4:50:45 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [idx_unique_Sanpham_size] ON [dbo].[SANPHAMSIZE]
(
	[MASP] ASC,
	[MASIZE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BINHLUAN]  WITH CHECK ADD  CONSTRAINT [FK_BINHLUAN_DONGSANPHAM] FOREIGN KEY([MADONGSANPHAM])
REFERENCES [dbo].[DONGSANPHAM] ([MADONGSANPHAM])
GO
ALTER TABLE [dbo].[BINHLUAN] CHECK CONSTRAINT [FK_BINHLUAN_DONGSANPHAM]
GO
ALTER TABLE [dbo].[BINHLUAN]  WITH CHECK ADD  CONSTRAINT [FK_BINHLUAN_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[BINHLUAN] CHECK CONSTRAINT [FK_BINHLUAN_KHACHHANG]
GO
ALTER TABLE [dbo].[BLOG]  WITH CHECK ADD  CONSTRAINT [FK_BLOG_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[BLOG] CHECK CONSTRAINT [FK_BLOG_NHANVIEN]
GO
ALTER TABLE [dbo].[CHITIETKHUYENMAI]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETKHUYENMAI_DONGSANPHAM] FOREIGN KEY([MADONGSANPHAM])
REFERENCES [dbo].[DONGSANPHAM] ([MADONGSANPHAM])
GO
ALTER TABLE [dbo].[CHITIETKHUYENMAI] CHECK CONSTRAINT [FK_CHITIETKHUYENMAI_DONGSANPHAM]
GO
ALTER TABLE [dbo].[CHITIETKHUYENMAI]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETKHUYENMAI_KHUYENMAI] FOREIGN KEY([MAKM])
REFERENCES [dbo].[KHUYENMAI] ([MAKM])
GO
ALTER TABLE [dbo].[CHITIETKHUYENMAI] CHECK CONSTRAINT [FK_CHITIETKHUYENMAI_KHUYENMAI]
GO
ALTER TABLE [dbo].[CHITIETPHIEUMUA]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEUMUA_PHIEUMUA] FOREIGN KEY([MAPM])
REFERENCES [dbo].[PHIEUMUA] ([MAPM])
GO
ALTER TABLE [dbo].[CHITIETPHIEUMUA] CHECK CONSTRAINT [FK_CHITIETPHIEUMUA_PHIEUMUA]
GO
ALTER TABLE [dbo].[CHITIETPHIEUMUA]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEUMUA_SANPHAMSIZE] FOREIGN KEY([MASPSIZE])
REFERENCES [dbo].[SANPHAMSIZE] ([MASPSIZE])
GO
ALTER TABLE [dbo].[CHITIETPHIEUMUA] CHECK CONSTRAINT [FK_CHITIETPHIEUMUA_SANPHAMSIZE]
GO
ALTER TABLE [dbo].[DONGSANPHAM]  WITH CHECK ADD  CONSTRAINT [FK__SANPHAM__IDLOAI__4222D4EF] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAI] ([MALOAI])
GO
ALTER TABLE [dbo].[DONGSANPHAM] CHECK CONSTRAINT [FK__SANPHAM__IDLOAI__4222D4EF]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [FK__KHACHHANG__EMAIL__398D8EEE] FOREIGN KEY([EMAIL])
REFERENCES [dbo].[TAIKHOAN] ([EMAIL])
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [FK__KHACHHANG__EMAIL__398D8EEE]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK__NHANVIEN__EMAIL__3C69FB99] FOREIGN KEY([EMAIL])
REFERENCES [dbo].[TAIKHOAN] ([EMAIL])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK__NHANVIEN__EMAIL__3C69FB99]
GO
ALTER TABLE [dbo].[PHIEUMUA]  WITH CHECK ADD  CONSTRAINT [FK__PHIEUDAT__IDNV__5441852A] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUMUA] CHECK CONSTRAINT [FK__PHIEUDAT__IDNV__5441852A]
GO
ALTER TABLE [dbo].[PHIEUMUA]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUMUA_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[PHIEUMUA] CHECK CONSTRAINT [FK_PHIEUMUA_KHACHHANG]
GO
ALTER TABLE [dbo].[PHIEUMUA]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUMUA_PHUONGTHUCTHANHTOAN] FOREIGN KEY([MAPTTT])
REFERENCES [dbo].[PHUONGTHUCTHANHTOAN] ([MAPTTT])
GO
ALTER TABLE [dbo].[PHIEUMUA] CHECK CONSTRAINT [FK_PHIEUMUA_PHUONGTHUCTHANHTOAN]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_DONGSANPHAM] FOREIGN KEY([MADONGSANPHAM])
REFERENCES [dbo].[DONGSANPHAM] ([MADONGSANPHAM])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_DONGSANPHAM]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_MAU] FOREIGN KEY([MAMAU])
REFERENCES [dbo].[MAU] ([MAMAU])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_MAU]
GO
ALTER TABLE [dbo].[SANPHAMSIZE]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAMSIZE_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[SANPHAMSIZE] CHECK CONSTRAINT [FK_SANPHAMSIZE_SANPHAM]
GO
ALTER TABLE [dbo].[SANPHAMSIZE]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAMSIZE_SIZE] FOREIGN KEY([MASIZE])
REFERENCES [dbo].[SIZE] ([MASIZE])
GO
ALTER TABLE [dbo].[SANPHAMSIZE] CHECK CONSTRAINT [FK_SANPHAMSIZE_SIZE]
GO
USE [master]
GO
