@model ShoesStore.Models.Blog

<div style="margin-top: 150px; margin-left: 350px;">
    <div class="form-group">
        <div>@Html.Raw(Model.Noidung)</div>
    </div>
</div>

<div style="text-align: center; margin-top: 20px;">
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>