@using ShoesStore.Areas.Admin.ViewModels
@model KhuyenMaiViewModel

<h2>Add Shoes For Promotion</h2>

<form asp-action="AddDongSanPham" method="post">
    <input type="hidden" asp-for="Makm" value="@Model.Makm"/>
    <div>
        <label asp-for="SelectedDongsanphams">Select Shoes:</label>
        <select asp-for="SelectedDongsanphams" asp-items="Model.AvailableDongsanphams" multiple="multiple" size="10">
        </select>
    </div>
    <button type="submit">Add Promotion</button>
</form>
