@model ShoesStore.Models.Khuyenmai

@{
    ViewData["Title"] = "Create";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Create New Promotion</h4>

            <form asp-action="Create" method="post" id="createForm">
                <div class="form-group">
                    <label asp-for="Ngaybd">Starting date</label>  
                    <input asp-for="Ngaybd" class="form-control" type="date" />
                </div>
                <div class="form-group">
                    <label asp-for="Ngaykt">Ending date</label>
                    <input asp-for="Ngaykt" class="form-control" type="date" />
                </div>
                <div class="form-group">
                    <label asp-for="Phantramgiam">Percent sale</label>
                    <input asp-for="Phantramgiam" class="form-control" type="number"/>
                </div>
                <!-- Button type="submit" đã được di chuyển ra ngoài form -->
                <button type="submit" class="btn btn-gradient-primary me-2">Create</button>
                <a href="@Url.Action("Index", "KhuyenMaiAdmin")" class="btn btn-light">Cancel</a>
            </form>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#createForm').submit(function (e) {
            var ngayBd = new Date($('#Ngaybd').val());
            var ngayKt = new Date($('#Ngaykt').val());

            // Kiểm tra nếu ngày kết thúc trước ngày bắt đầu
            if (ngayKt < ngayBd) {
                e.preventDefault(); // Ngăn không cho form submit
                alert('The end date must be after or the same as the start date.');
            }
        });
    });
</script>