@model Mau

@{
    ViewData["Title"] = "Create";
}

@using (Html.BeginForm("Create", "Mau", FormMethod.Post, new { }))
{
     <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h2 class="card-center">Create New Color</h2>
                <form class="forms-sample">
                    <div class="form-group">
                        <label asp-for="Mamau" class="font-weight-bold">Color id</label>
                        <input type="text" asp-for="Mamau" class="form-control" />
                        <span asp-validation-for="Mamau" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Tenmau" class="font-weight-bold">Color Name</label>
                        <input type="text" asp-for="Tenmau" class="form-control" />
                        <span asp-validation-for="Tenmau" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-gradient-primary me-2">Create</button>
                    <a href="@Url.Action("Index", "Mau")" class="btn btn-light">Cancel</a>
                </form>
            </div>
        </div>
    </div>
}

