@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="https://stc-zaloprofile.zdn.vn/favicon.ico" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Chat với Karma - Một ứng dụng Zalo thú vị" />
    <meta property="og:title" content="Zalo - Karma" />
    <meta property="og:description" content="Chat với Karma - Một ứng dụng Zalo thú vị" />
    <meta property="og:image" content="https://qr.zalo.me/sl/2/f0f92437526bb835e17a" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet" />
    <title>Zalo - Karma</title>
    <script src="https://za.zdn.vn/v3/za.js"></script>
    <script defer="defer" src="https://stc-zaloprofile.zdn.vn/profile/static/js/main.1.0.5.js"></script>
    <link href="https://stc-zaloprofile.zdn.vn/profile/static/css/main.1.0.5.css" rel="stylesheet" />
</head>
<body>
    <div id="root">
        <script>
            window.pageInfo = {
                "type": 3,
                "name": "Karma",
                "avatar": "https://s480-ava-grp-talk.zadn.vn/5/d/8/4/2/480/f9cb53695e5843a6e828ee492def1be3.jpg",
                "thumbnail": "https://qr.zalo.me/sl/2/f0f92437526bb835e17a",
                "description": "Nếu bạn có thắc mắc có thể gửi tin nhắn thông qua Zalo ngay qua cho chúng mình,mọi vấn đề sẽ được giải đáp trong 24h.",
                "qrCodeUrl": "https://group-qr.zdn.vn/1/2eacfa628f3e66603f2f",
                "messageInfo": {
                    "argv": "wzflbw773",
                    "hasZWebSession": false
                }
            };
        </script>
    </div>
</body>
</html>
