@model ShoesStore.Models.Loai

@{
    ViewData["Title"] = "Create";
}

@using (Html.BeginForm("Create", "Loai", FormMethod.Post, new { }))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h2 class="card-center">Tạo Loại Giày Mới</h2>
                <form class="forms-sample">
                    <div class="form-group">
                        <label>Tên Loại</label>
                        <input type="text" asp-for="Tenloai" class="form-control" id="exampleInputName1" placeholder="Name">
                    </div>                  
                    <button type="submit" class="btn btn-gradient-primary me-2">Tạo</button>
                    <a href="@Url.Action("Index", "Loai")" class="btn btn-light">Hủy</a>
                </form>
            </div>
        </div>
    </div>   
}

